@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:500);
 
header {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFBF00;
  padding: 20px;
  font-size: 25px;
  color: #2E2C2F;
  border-radius:10px;
}


body {
  font-family: 'Fira Sans', Verdana, Arial, sans-serif;
  background: #2E2C2F;
  color: #F3E8EE;

}

.contents{
  padding:20px;
}


.img {
  padding:3px;
  background-color:#FFBF00;
  position:absolute;
  border-radius:15px;
  margin:100px;
  top:100px;
  height: 500px;
  width: 500px;
  z-index:10;
}

h3{
  margin:60px;
  color:#FFBF00;
}

h2{
  margin:60px;
  color:#2E2C2F;
}

.subheader{
  margin:60px;
  margin-top:-45px;
}



.text_1{

  position: absolute;
  top:200px;
  left:700px;
  height: 500px;
  width: 900px;
  font-size: 45px;
}

.desc
{
  text-indent:10px;
  line-height:30px;
  margin-top:-10px;
  margin:20px;
  font-size:15px;
}

.text_2{
  margin: 180px;
  color: #2E2C2F;
  background-color:#FFBF00;
  width:1500px;
  height:300px;
  border-radius:25px;
  position:absolute;
  top:650px;
}

.desc2{
  margin:60px;
  line-height:30px;
}



.containerlinks{
  padding:10px;
  position:absolute;
  top:630px;
  left:1350px;
  height:60px;
  width:124px;
  background-color:#FFBF00;
  margin-left:400px;
  border-radius:15px;
}

.links{
  height:60px;
  width:60px;
}

footer{
  margin:0px;
  padding:10px;
  margin-top:1050px;
  background-color:#252426;
  border-radius:5px;
}